$color-primary: #7c5dfa;
$color-primary-hov: #9277ff;

$color-secondary-light: #f9fafe;
$color-secondary-light-hov: #dfe3fa;

$color-secondary-dark: #252945;
$color-secondary-dark-hov: #ffffff;

$color-tertiary-light: #373b53;
$color-tertiary-light-hov: #0c0e16;

$color-tertiary-dark: #373b53;
$color-tertiary-dark-hov: #1e2139;

$color-delete: #ec5757;
$color-delete-hov: #ff9797;

$primary: $color-primary !default;
$secondary: #858bb2 !default;
$light: #f9fafe !default;
