.registration-form {
  @include respond(tab) {
    max-width: 616px;
  }
  &-group-title {
    width: 100%;
    margin-top: 1.5rem;
    color: $primary;
  }
  &-input {
    @extend .text-field;
    width: 100%;
  }
}
.registration-form-group:not(:last-child) {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.registration-form-group-of-three {
  display: flex;
  justify-content: space-between;
  .registration-form-input {
    width: 30%;
  }
}
.registration-form-group-of-two {
  display: flex;
  justify-content: space-between;
  .registration-form-input {
    width: 45%;
  }
}
